.towerlist-img{
  width: 310px;
}
.towersContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  gap: 20px;
}


.towerCard {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  text-decoration: none;
  color: inherit;
}

.towerCard h2 {
  margin-top: 0;
  color: #222;
}

@media (max-width: 768px) {
  .towersContainer {
 flex-direction: column;
  }
}